test
empty
obj/*.o
src/*.cpp#
src/*.cpp~
inc/*.hpp#
inc/*.hpp~
src/.emacs.desktop
*#
*~
wyniki/
GRTAGS
GPATH
GSYMS
GTAGS
schowek
compile_commands.json
.dir-locals.el
inc/*.h.gch
engine
informacje
informacje~
todo
.vscode/
